*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    
}
body{
    width: 100%;
    height: 160vh;
    background-image: url("Artboard 2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
}
.header{
    display: flex;
    padding: 14px 12%;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.976); */
    border-bottom: 8px solid rgba(128, 128, 128, 0.524);
}
.header .Ti{
    font-size: 34px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(50, 11, 11);
    font-weight: bold;
    font-style: italic;
    letter-spacing: 10px;

}
.header .menu{
    padding-left: 140px;
    justify-content: space-between;
    

}
.header .menu ul{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

    

}
.header .menu ul li a{
  
    color: rgb(19, 16, 16);
    text-decoration: none;
}
.header .menu ul li a:hover{
    color: red;
    text-shadow: rgb(187, 25, 3) 0px 0px 10px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.3s ease-in-out;

}
.header .search{
    margin-left: 100px;
    display: flex;
    align-items: center;

}
.header .search input{
    font-size: 12px;
    color: black;
    padding: 7px 10px;
    font-family:  Arial Narrow Bold, sans-serif;
    border-radius: 20px;
    text-align: left;
    border:none;
    outline: none;
    background-color: rgb(243, 238, 238);

}
.header .search button{
    padding: 7px 15px;
    margin-left: 5px;
    background-color: rgb(63, 3, 3);
    color: white;
    font-weight: bold;
    font-weight: bold;
    border-color: rgb(65, 13, 13);



}
.header .search button:hover{
    background-color: rgb(56, 7, 7);
    border-radius: 90px;
    color: red;
    width: 10px;
    border-style: dotted;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

}
.header .search:hover{
    padding: 10px 20px;
     border-radius: 30px;
    color: rgb(36, 10, 10);
    box-shadow: rgb(187, 25, 3) 0px 0px 10px;
    transition: 0.3s ease-in-out;
    background-color: rgb(243, 238, 238);
}
.body{
    display: flex;;
    padding: 30px 70px;
    line-height: 80px;
}
.body h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(42, 11, 11);

}
.body p{
    margin-top: -20px;
    color: rgba(190, 171, 171, 0.95);
}
.body .text p{
    margin-top: 20px;
    color: rgb(219, 198, 198);
    line-height: 19px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing:0.11px;
    word-spacing: 1px;
}
.body .text button{
    margin:30px 0.001%;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    background-color: brown;
    border: none;
    border-radius: 30px;
   
}
.body .text button:hover{
    background-color: red;
    cursor: pointer;

    transition: 0.3s ease-in-out;

}
.body .text a{
    text-decoration: none;

}
.body .text a:hover{
        color: wheat;
}
.body .login{
    margin-left: 100px;
    padding: 20px 20px;
     background:linear-gradient(rgba(185, 162, 162, 0)50%,rgb(133, 14, 14) );
    
    /* padding: 20px 40px; */
    border-radius: 30px;
    height: 540px;
    
}

.body .login h2{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
}
.body .login input{
    border-radius: 30px;
    padding: 10px 80px;
    border: none;
    outline: none;
    text-align: center;
    color :black

}
.body .login input:hover{
    box-shadow: rgba(30, 4, 101, 0.471) 0px 0px 10px;
    transition: 0.3s ease-in-out;
    background-color: white;
    border-radius: 1px;

}
.body .login button{
    margin-top: 20px;
    margin-left: 80px;
    /* align-content: center; */
    padding: 15px 50px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-weight: bold;

}
.body .login  pre{
    line-height:20px;
    margin-left: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(20, 19, 19);
}
.body .login button:hover{
    background-color: rgb(24, 7, 7);
    cursor: pointer;
    transition: 0.3s ease-in-out;

}
.body .login a{
    text-decoration: none;
    color:blue;
    font-weight: bold;

}
.btnL{
    padding: 10px 20px;
    height: 40px;
    margin: 1px 80px;
    border: none;
    border-radius: 10px;
    color: rgba(0, 0, 255, 0.643);
    font-weight: bold   ;
    background-color: rgb(145, 111, 226);
    font-size:20px;
    margin-top: 600px;
    margin-left: -100px;

}
.h5{
    margin-top:100px ;
    margin-left: 300px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    padding: 10px 30px;
    color: rgb(22, 22, 73);
}
.ul{
    margin-left: 300px;
    padding:10px 30px;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
.ul li,a{
     color: rgb(25, 68, 149)  ;
    margin-bottom: 30px;
    list-style: square;
    text-decoration: none;
}